@section scripts{
    <script type="text/javascript" src="~/Scripts/KindEditor/kindeditor-min.js"></script>
    <script type="text/javascript">
        //编辑框
        KindEditor.ready(function (K) {
            window.editor = K.create('#Content', {
                height: '500px'
         });
        });
    </script>
}

@model MVCStudy.Models.Article
@using (Html.BeginForm())
{ @Html.AntiForgeryToken()
    <div class="form-horizontal" role="form">
        <h4>添加文章</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <label class="control-label col-sm-2" for="CommonModel_CategoryID">栏目</label>
            <div class="col-sm-10">
                <input id="CommonModel_CategoryID" name="CommonModel.CategoryID" data-options="url:'@Url.Action("JsonTree", "Category", new { model="Article" })'" class="easyui-combotree" style="height: 34px; width: 280px;" />
                @Html.ValidationMessageFor(model => model.CommonModel.CategoryID)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CommonModel.Title, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.CommonModel.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CommonModel.Title)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Author, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Author, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Author)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Source, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Source, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Source)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Intro, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextAreaFor(model => model.Intro, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Intro)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Content)
                @Html.ValidationMessageFor(model => model.Content)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CommonModel.DefaultPicUrl, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <img id="imgpreview" class="thumbnail" src="" />
                @Html.HiddenFor(model => model.CommonModel.DefaultPicUrl)
                <a id="btn_picselect" class="easyui-linkbutton">选择…</a>
                @Html.ValidationMessageFor(model => model.CommonModel.DefaultPicUrl)
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="添加" class="btn btn-default" />
            </div>
        </div>
    </div>
}
